body{
    background-color: rgb(216, 209, 209);
}
/* styling for the search button */
#search-form input{
       padding: 12px 20px;
        background-color: #64bb67;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 17px;

}
/* form styling  */
#search-form{
    display: flex;
    width: 300px;
    margin: 0 auto;
    justify-content: space-between;
}

h2{
    text-align: center;
    font-size: 30px;
    font-weight: 800;
}

/* styling the content  */
.content{
    display: flex;
    justify-content: space-around;
    margin-top: 8%;
}